# Dependency Node.js
node_modules/
data.json
.env

# Folder Video (Agar file MP4 berat tidak ikut di-push)
public/videos/*

# Kecuali file .gitkeep (agar foldernya tetap ada di git walau kosong)
!public/videos/.gitkeep

# File System
.DS_Store
Thumbs.db